.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 20px 10% 10px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-light);
  box-shadow: var(--box-shadow);
  z-index: 999;
  height: 70px;
  border-bottom: 1px solid var(--main-color);

  .links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    a {
      img {
        width: 20px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    justify-content: center;
    .links {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    padding: 10px 5% 10px 5%;

    .lg {
      display: none;
    }
  }
}
