.lessonPage {
  width: 100%;
  position: relative;
  padding: 20px 2%;
  .sidebar {
    width: 20%;
    padding: 30px 20px;
    position: fixed;
    top: 70px;
    left: 0;
    height: calc(100vh - 70px);
    overflow-x: auto;
    background-color: var(--main-color);
    z-index: 999;

    ul {
      list-style: none;

      button {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1em;
        padding: 10px;
        text-align: left;
        font-size: 16px;
      }
    }
  }
  .lessonContent {
    width: calc(100% - 20%);
    margin-left: 20%;

    .title {
      text-align: left;
    }
    .subLesson {
      padding: 15px 0;
      .subLessonDesc {
        margin: 10px 0;
      }
      .subLessonContent {
        padding: 5px 0;
        .contentItem {
          margin-bottom: 10px;
        }
      }
    }
  }

  .toggleSidebarBtn {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5em;
    z-index: 999;
  }
}

@media screen and (max-width: 1024px) {
  .lessonPage {
    .sidebar {
      width: 50%;
      display: none;
      &.open {
        display: block;
      }
    }

    .lessonContent {
      width: 100%;
      margin-left: 0;

      padding: 2%;
    }

    &.open {
      .sidebar {
        display: block;
      }
    }
    .toggleSidebarBtn {
      display: block;
    }
  }
}

@media screen and (max-width: 700px) {
  .lessonPage {
    .sidebar {
      width: 100%;
    }
  }
}
